<header>
    <div id="main-header">
        <div id="logo">
            <img src="<%= path('./images/logo.png') %>" alt="The Beautiful Game">
            
        </div>
        <div id="articles">
            <a href="/articles" class="article">Articles</a>
        </div>
        
                
        <div id="login-signup">
           <a href="/login"> <button type="button">Login</button> </a>
            <a href="/signup"><button type="button">Signup</button> </a>
        </div>
        
    </div>
</header>