<link rel="stylesheet" href="<%= path('./css/changePassword.css')%>">
<main>
    <div>
        <h2>
            Change Password
        </h2>
        <input type="password" id="newPassword" name="newPassword" placeholder="New Password">
        <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm New Password">
        <button type="submit">Change Password</button>
    </div>
</main>