<link rel="stylesheet" href="<%= path('./css/forgotPassword.css')%>">
<main>
    <div>
        <h2>
            Reset Password
        </h2>
        <p>A password reset link will be sent to the following email id</p>
        <input type="email" id="email" name="email" placeholder="Email">
        <button type="submit">Send password reset link</button>
    </div>
</main>