<link rel="stylesheet" type="text/css" href="<%= path('./css/home.css')%>">
<header>
    <div id="main-header">
        <img src="<%= path('./images/logo.png') %>" alt="The Beautiful Game">
        <button type="button">Login</button>
        <button type="button">Signup</button>
    </div>
</header>
<main>
    <div>
        <p>We have a bow and arrow and if we aim well, we can hit the target. The problem is that Bayern has a bazooka.</p>
        <img src=" <%= path('./images/klopp.jpg') %> " alt="Caption image">
    </div>
</main>



