<main>
    <div>
        <h2>
            Pick your favourite league.
        </h2>
        <select name="League" id="fav-league">
            <%  for(let i of leagues) { %>
                <option value=" <%=i %>"><%=i%></option>
            <% } %>
        </select>
        <button type="button">Next</button>
    </div>
</main>