<main>
    <h2>
        Please add heading of article.
    </h2>
    <textarea name="About" rows="8" cols="30" placeholder="About" ></textarea>
    <h2>
        Add article text content.
    </h2>
    <textarea name="About" rows="8" cols="30" placeholder="About" ></textarea>
    <h2>
        Upload 2 images related to article.
    </h2>
    <!-- to be completed with multer-->

    <!-- second level hierarchy so give css /script link accordingly -->
</main>