<!-- this page logs out user and routes to good bye.ejs of home folder, where in goodbye.ejs has link to take to home page -->

<link rel="stylesheet" href="<%= path('../css/deactivateAccount.css')%>">
<div class="row row-style">
    <div class="col-12">
        <h3>
            Are you sure? Confirm password to continue.
        </h3>
    </div>
</div>
<div class="row row-style">
    <div class="col-12">
        <input type="password" id="password" name="password" placeholder="Password" style="outline: none;">
        <span class="col-12">
            <a href="/goodbye"></a><button type="submit" class="button-style">Submit</button>
        </span>
    </div>
</div>

                