<link rel="stylesheet" type="text/css" href="<%= path('../css/friends.css')%>">
<div class="row" id="select-bar">
    <div class="col-6 links">
        <a href="">Followers</a>
    </div>
    <div class="col-6 links">
        <a href="">Following</a>
    </div>
</div>