<link rel="stylesheet" type="text/css" href="<%= path('../css/profile.css')%>">
<div class="row" id="profile-container" style="background-color: yellow;">
    <div class="col-4 col-sm-4 col-md-4 height-hundred" style="background-color: green;">
        <!-- profile pic -->
    </div>
    <div class="col-8 col-sm-8 col-md-8 height-hundred" style="background-color: red;">
        <!-- bio -->
    </div>
</div>
<div class="row" id="links-bar">
    <div class="col-6 links">
        <a href="">Posts</a>
    </div>
    <div class="col-6 links">
        <a href="">Likes</a>
    </div>
</div>