<main>
    <!-- to be completed -->
    <!-- this page is the page we land into on clicking articles from home. It has links to all articles.This Uses articles
    layout . Articles are stored in articles/folder/ date and month wise. They too use article layouts -->
   
    <!-- second level hierarchy so give asset or css or script links accordingly -->
</main>