body{
    background-color: rgb(77, 77, 77);
}
.row-style{
    background-color: white;
    min-height:100vh ;
    overflow-y: scroll;
}
.col-style{
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
}
.text-align-centre{
    text-align: center;
}

#next-button{
    height: 40px;
    width:20%;
    &:focus{
        outline: none;
    }
    &:hover{
        background-color: rgb(134, 134, 134);
        color: white;
    }
    margin-bottom: 30px;
}
#about{
    height:100px;
    width:90%;
    &:focus{
        outline: none;
    }
}
#image-holder{
    position: relative;
    height: 200px;
    width:200px;
    border: 2px dashed #b3b3b3;
    border-radius: 50%;
    -webkit-box-shadow: 1px 1px 5px 0px   #d3d3d3;
-moz-box-shadow:    1px 1px 5px 0px   #d3d3d3;
box-shadow:         1px 1px 5px 0px  #d3d3d3 ;
margin-left: auto;
margin-right: auto;
padding:2px 2px 2px 2px;

background-color: #f3f3f3;

}
#avatar{
    position:absolute;
	top:0!important;
	left:0!important;
	height:100%;
    width:100%;
    border: 1px solid rgb(87, 103, 153);
    border-radius: 50%;
	background-color: #d9d9;
	opacity:0%;
}
#add-image{
    font-size: 1.2rem;
    line-height: 200px;
    text-align: center;
    color:rgba(0, 0, 0, 0.774);
}

