body{
    background-color: rgb(68, 68, 68);
}
.row-style{
    height: auto;
    margin-top: 15vh;
}
.col-style-login{
    height: auto;
    min-height: 60vh;
    background-color: white;
    margin: auto;
}
.col-style-signup{
    height: auto;
    min-height: 70vh;
    background-color: white;
    margin: auto;
}
.text-align{
    text-align: center;
    padding-top: 15px;
    #fav-league{
        height:2rem;
        width:80%;
        &:focus{
            outline: none;
        }
    }
}
.input-style{
    input, button{
        &:focus{
            outline: none;
        }
    }
    input{
        width: 80%;
    }
    button{
        width: 90%;
    }

}
#fb-login,#fb-signup{
    background-color:#4267b2 ;
    color: white;
    i{
        margin-right: 5px;
    }
}
#google-login,#google-signup{
    background-color: rgb(247, 242, 242);
    color: black;
    img{
        height:100%;
        width:20%;
    }
}
#login-button,#sign-up-button,#forget-password-button, #change-password-button, #next-button{
    width: 30%;
    background-color:#0455f8ea ;
    color: white;
}
.text-align-right{
    text-align: right;
    padding-top: 10px;
}
.box-shadow{
    -webkit-box-shadow: 1px 1px 5px 0px rgba(245, 245, 245, 0.75);
-moz-box-shadow:    1px 1px 5px 0px rgba(245, 245, 245, 0.75);
box-shadow:         1px 1px 5px 0px rgba(245, 245, 245, 0.75);
}

@media (max-width:768px){
    body{
        background-color: white;
    }
    .row-style{
        height: auto;
        margin-top: 5vh;
    }
    .col-style-login{
        height: 60vh;
        background-color: white;
        margin: auto;
    }
    .col-style-signup{
        height: 70vh;
        background-color: white;
        margin: auto;
    }
    .box-shadow{
        box-shadow: none;
    }
}

.col-style-scroll-list{
    max-height: 50vh;
    overflow-y: scroll;
    overflow-x: hidden;  //to hide the horizontal scroll
    background-color: white;
    margin: auto;
}
.text-align-scroll-list{
    text-align: left;
    padding-left: 40px;
    padding-top: 10px;
    
}
