<link rel="stylesheet" href="<%= path('./css/adminInput.css')%>">
<div class="container">
    <div class="row row-style" >
        <div class="col-12 align-text">
            <h2>Make a choice</h2>
        </div>
    </div>
    <div class="row row-style">
        <div class="col-6 align-text" >
            <a href="/home"> <button type="button">Go to admin user panel</button> </a>
        </div>
        <div class="col-6 align-text" >
            <a href="/createArticle"><button type="button">Go to create Article panel</button> </a>
        </div>
    </div>
</div>
