<main>
    <div id="choice">
        <h2>Make a choice</h2>
        <a href="/home"> <button type="button">Go to admin user panel</button> </a>
        <a href="/createArticle"><button type="button">Go to create Article panel</button> </a>
     </div>
</main>