<main>
    <section id="Profile-pic">
        <h2>Pick a Profile picture</h2>
        Have a favourite selfie? Upload it now.
        <!-- to be completed -->
    </section>
    <section id="Describe Yourself">
        <h2>Describe Yourself</h2>
        What makes you special. Don't think too hard just have fun with it. Describe yourself in 160 chars or less.

        <textarea name="About" rows="8" cols="30" placeholder="About" maxlength="160"></textarea>
        <button type="button">Next</button>
        <!-- to be completed -->

    </section>
</main>