
<link rel="stylesheet" href="<%=path('./css/completeDetails.css') %>">

    <div class="container" >
        <div class="row row-style">
            <div class="col-12">
                <div class="row">
                    <div class="col-12 col-style">
                        <h3>Pick a Profile picture</h3>
                        <p>Have a favourite selfie? Upload it now. </p>
                    </div>
                </div>
                <form action="" method="POST" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-12" >
                        <div id="image-holder">
                            <input type="file" id="avatar" accept="image/png , image/jpg , image/jpeg" name="avatar">
                            <h3 id="add-image">Choose or drag</h3>
                        </div>
                    </div>
                    
                </div>
                
                <div class="row">
                    <div class="col-12 col-style">
                        <h3>Describe Yourself</h3>
                        <p>What makes you special. Don't think too hard just have fun with it. Describe yourself in 160 chars or less.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-style  text-align-centre">
                        <textarea name="About" placeholder="About" maxlength="160" id="about" class="col-style"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-style  text-align-centre">
                        <button type="submit" id="next-button">Next</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>

    <script src="<%=path('./js/jquery-3.5.1.min.js')%>"></script>
    <script src="<%=path('./js/completeDetails.js')%>"></script>