
<link rel="stylesheet" href="<%=path('./css/login.css') %>">

    <div class="container">
        <div class="row row-style" >
            <div class="col-12 col-sm-10 col-md-8 col-xl-6 col-style-login box-shadow">
                <div class="row">
                    <div class="col-12 text-align">
                        <h3>Reset Password</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-align">
                        <p>A password reset link will be sent to the following email id</p>
                    </div>
                </div>
                <form action="" method="POST">
                <div class="row">
                    <div class="col-12 text-align input-style">
                        <input type="email" id="emailId" name="email" placeholder="Email" >
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-align">
                        <button type="submit" id="forget-password-button">Send password reset link</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>