<link rel="stylesheet" href="<%= path('./css/goodbye.css')%>">
<div class="container">
    <div class="row padding-thirty">
        <div class="col-12 some-style">
            <h3>
                Its sad to see you go. Good bye!
            </h4>
        </div>
    </div>
    <div class="row padding-thirty">
        <div class="col-12 some-style">
            <a href="/">Go to home</a>
        </div>
    </div>
</div>