
<link rel="stylesheet" type="text/css" href="<%= path('./css/home.css')%>">
<div class='container'>
    <div class="row" id="main-header">
        <div class="col-4 col-sm-4 col-md-4 col-lg-3" id="logo">
            <a href="/"><img src="<%= path('./images/logo.png') %>" alt="The Beautiful Game"></a>
            
        </div>
        <div class="col-4 col-sm-3 col-md-4 col-lg-6" id="articles">
            <a href="/articles" class="article">Articles</a> 
        </div>
        <div class="col-4 col-sm-5 col-md-4 col-lg-3" id="login-signup">
            <span>
                <a href="/login"> <button type="button">Login</button></a>
            </span>
            <span>
                <a href="/signup"><button type="button">Signup</button></a> 
            </span>
        </div>
    </div>
    <main>
        <div class="row" id='main-content'>
            <div class="col-12" id="main-text" style="background-image:url('<%= path('./images/klopp.jpg')%>')">
              <p>We have a bow and arrow and if we aim well, we can hit the target. The problem is that Bayern has a bazooka.</p>
            <div>
        </div>
    </main>
</div>

<script src="<%= path('./js/home_script.js') %>"></script>



