<link rel="stylesheet" href="<%=path('./css/signup.css') %>">
<main>
    <div>
        <div>
            <h2>Sign up</h2>
            <button type="button">Sign up with Facebook</button>
            <button type="button">Sign up with Google</button>
        </div>
        <h3>------ Or ------</h3>
        <div>
            <form action="" method="POST">
                <input type="text" id="firstname" name="firstname" placeholder="First name">
                <input type="text" id="firstname" name="lastname" placeholder="Last name">
                <input type="email" id="emailId" name="email" placeholder="Email" >
                <input type="password" id="password" name="password" placeholder="Password">
                <button type="submit">Sign up</button>
            </form>
            Have an account? <a href="/login">Login</a>
        </div>
    </div>
    
</main>