body {
  margin: 0px;
  background-color: #c7c6c6; }

#main-header {
  height: auto;
  background-color: black; }
  #main-header #logo {
    background-color: yellowgreen;
    height: 90px; }
    #main-header #logo img {
      height: 100%; }
  #main-header #articles {
    background-color: yellow;
    height: 90px;
    width: auto;
    line-height: 90px; }
    #main-header #articles a {
      text-decoration: none;
      color: white;
      font-size: 1.5rem; }
      #main-header #articles a:hover {
        border-bottom: 1px solid white; }
  #main-header #login-signup {
    background-color: firebrick;
    height: 90px;
    padding-top: 25px; }
    #main-header #login-signup button {
      margin-left: 20px;
      border: none;
      height: 40px;
      padding-left: 10px;
      padding-right: 10px;
      -webkit-box-shadow: 3px 2px 5px 0px rgba(250, 250, 250, 0.75);
      -moz-box-shadow: 3px 2px 5px 0px rgba(250, 250, 250, 0.75);
      box-shadow: 3px 2px 5px 0px rgba(250, 250, 250, 0.75); }

@media (max-width: 576px) {
  #login-signup {
    padding-top: 2px !important; }
    #login-signup button {
      margin-bottom: 1px; } }
