body {
  margin: 0px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #c7c6c6; }

#main-header {
  height: auto;
  width: 100%;
  display: flex;
  position: relative;
  background-color: black; }
  #main-header #logo {
    height: 90px;
    width: auto; }
    #main-header #logo img {
      height: 100%; }
  #main-header #login-signup {
    height: 90px;
    width: 300px;
    text-align: center;
    line-height: 90px;
    position: absolute;
    right: 0%; }
    #main-header #login-signup button {
      height: 35px;
      width: 90px;
      margin-right: 20px; }

#main-content {
  height: 90vh;
  width: 100%; }
  #main-content #main-text {
    height: 100%;
    width: 100%;
    padding-top: 5%;
    background-size: cover;
    background-position: centre;
    opacity: 0.8;
    background-attachment: fixed;
    /*for parallex*/ }
    #main-content #main-text p {
      margin-left: 10%;
      margin-right: 10%;
      color: white;
      font-weight: 300;
      font-size: 3rem;
      font-family: Verdana, Geneva, Tahoma, sans-serif; }
    #main-content #main-text p::before {
      content: ' " ';
      font-size: 5rem; }
    #main-content #main-text p::after {
      content: ' "';
      font-size: 5rem; }
